# pip install -qr requirements.txt
# pip install -r requirements.txt

# base ----------------------------------------
cython
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow
PyYAML>=5.3.1
scipy>=1.4.1
tensorboard>=1.5
torch>=1.7.0
torchvision>=0.8.1
# to fix cv2 missing imports: https://stackoverflow.com/questions/55313610/importerror-libgl-so-1-cannot-open-shared-object-file-no-such-file-or-directo
# apt-get install ffmpeg libsm6 libxext6  -y
# to pip install pytorch:
# pip3 install torch==1.9.1+cu111 torchvision==0.10.1+cu111 torchaudio===0.9.1 -f https://download.pytorch.org/whl/torch_stable.html  
tqdm>=4.41.0

# logging -------------------------------------
wandb

# plotting ------------------------------------
seaborn>=0.11.0
pandas

# export --------------------------------------
# coremltools>=4.1
onnx>=1.9.0  # ONNX export
onnx-simplifier>=0.3.6  # ONNX simplifier
onnxruntime-gpu
tensorflow>=2.4.1  # TFLite export
tensorflowjs>=3.9.0  # TF.js export
tflite-runtime
 
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
thop  # FLOPS computation
pycocotools==2.0.2  # COCO mAP
